# Spotify MySQL Workbench Database

### The purpose of this notebook is to develop some queries to Spotify database in MySQL Workbench, obtain some data and insights from each playlist table, and get some ideas of potential Tableau visualizations.

In [5]:
import pandas as pd
import os
from dotenv import load_dotenv
import pymysql
import sqlalchemy as alch 

load_dotenv()

True

In [6]:
# We create the connection with Spotify database.
password = os.getenv('sql_pw')
dbName = 'spotify'

connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

# Playlist stuff

In [28]:
# Query of the whole table obtained:
full_table = pd.read_sql_query("""
SELECT *  
    FROM todays_top_hits;
""", engine)

full_table.head()

,Name,Artist,Popularity,Song ID,Danceability,Energy,Key,Loudness,Mode,Speechiness,...,Instrumentalness,Liveness,Valence,Tempo,Lyrics,Positive,Neutral,Negative,Compound,Genre
0,Die For You - Remix,The Weeknd,82,7oDd86yk8itslrA9HRP2ki,0.531,0.525,1,-6.500,0,0.0671,...,0.000000,0.4410,0.502,66.900,TranslationsEspañolItalianoDeutschDie For You ...,0.125,0.625,0.250,-0.9982,Pop
1,Flowers,Miley Cyrus,100,0yLdNVWF3Srea0uzk55zFn,0.707,0.681,0,-4.325,1,0.0668,...,0.000005,0.0322,0.646,117.999,TranslationsEspañolPortuguêsKiswahiliDeutschIt...,0.517,0.439,0.044,0.9998,Pop
2,Boy's a liar Pt. 2,PinkPantheress,91,6AQbmUe0Qwf5PZnt4HmTXv,0.696,0.809,5,-8.254,1,0.0500,...,0.000128,0.2480,0.857,132.962,TranslationsPortuguêsTürkçeBoy’s a liar Pt. 2 ...,0.195,0.681,0.124,0.9664,Latin
3,Kill Bill,SZA,92,1Qrg8KqiBpW07V7PNxwwwL,0.644,0.735,8,-5.747,1,0.0391,...,0.144000,0.1610,0.418,88.980,TranslationsEspañolPortuguêsItalianoTürkçeDeut...,0.203,0.609,0.188,0.6321,Edm
4,Escapism.,RAYE,89,5Z2MiIZ5I3jJvvmeWMLbOQ,0.538,0.742,2,-5.355,1,0.1140,...,0.000047,0.0934,0.250,96.107,TranslationsTürkçeEspañolPortuguêsEscapism. Ly...,0.083,0.823,0.095,-0.7889,Pop

In [ ]:
# To select everything except song name and lyrics!
cleaned_one = pd.read_sql_query("""

CREATE TEMPORARY TABLE temp_tb;
SELECT * 
    FROM todays_top_hits;
ALTER TABLE temp_tb DROP Name, DROP Lyrics;   
SELECT * 
    FROM temp_tb;

""", engine)

In [45]:
# Average audio features of the playlist: 
avg_audio_features = pd.read_sql_query("""
SELECT AVG(Danceability) as "AVG Danceability", AVG(Energy) as "AVG Energy",AVG(`Key`) as "AVG Key",AVG(Loudness) as "AVG Loudness",AVG(Mode) as "AVG Mode",AVG(Speechiness) as "AVG Speechiness",AVG(Acousticness) as "AVG Acousticness",AVG(Instrumentalness) as "AVG Instrumentalness",AVG(Liveness) as "AVG Liveness",AVG(Valence) as "AVG Valence",AVG(Tempo) as "AVG Tempo"
    FROM todays_top_hits;
""", engine)

avg_audio_features

,AVG Danceability,AVG Energy,AVG Key,AVG Loudness,AVG Mode,AVG Speechiness,AVG Acousticness,AVG Instrumentalness,AVG Liveness,AVG Valence,AVG Tempo
0,0.65856,0.62232,5.66,-6.23112,0.58,0.083496,0.267669,0.006367,0.169962,0.501902,126.27992

In [37]:
# Average popularity of the playlist: 
avg_popularity = pd.read_sql_query("""
SELECT AVG(Popularity) as Popularity
    FROM todays_top_hits;
""", engine) 

(f"The average popularity of the playlist is {avg_popularity['Popularity'][0]}!")

'The average popularity of the playlist is 87.36!'

In [40]:
# Number of unique artists in the playlist: 
distinct_artists = pd.read_sql_query("""
SELECT DISTINCT(Artist) as "Unique Artists"
    FROM todays_top_hits;
""", engine) 

print(f"There are {distinct_artists.shape[0]} unique artists out of {full_table.shape[0]} songs!")

There are 44 unique artists out of 50 songs!

In [43]:
# Average sentiment analysis compound:
avg_sentiment = pd.read_sql_query("""
SELECT AVG(Compound) as "AVG Sentiment", AVG(Positive) as "AVG Positivity", AVG(Neutral) as "AVG Neutrality", AVG(Negative) as "AVG Negativeness" 
    FROM todays_top_hits;
""", engine)

avg_sentiment

   AVG Sentiment  AVG Positivity  AVG Neutrality  AVG Negativeness
0       0.283452        0.140313        0.756479          0.103229

# Genre stuff

In [79]:
# Most common genres, average popularity and sentiment:
genre_info = pd.read_sql_query("""
SELECT Genre, COUNT(Genre) as "Number of songs", AVG(Popularity) as Popularity, AVG(Compound) as "AVG Sentiment", AVG(Positive) as "AVG Positivity", AVG(Neutral) as "AVG Neutrality", AVG(Negative) as "AVG Negativeness"
    FROM todays_top_hits
    GROUP BY Genre
    ORDER BY COUNT(Genre) DESC;
""", engine)

genre_info.to_csv('../data/sql_queries_data/genre_.csv')
genre_info

,Genre,Number of songs,Popularity,AVG Sentiment,AVG Positivity,AVG Neutrality,AVG Negativeness
0,Pop,19,88.0000,0.153911,0.139222,0.757000,0.104000
1,Latin,12,87.7500,0.617225,0.159000,0.747583,0.093583
2,Rock,8,86.3750,0.475525,0.165125,0.745000,0.089625
3,Rap,6,85.8333,-0.192140,0.096400,0.774600,0.128400
4,Edm,3,88.0000,0.193733,0.119000,0.753333,0.127667
5,R&b,1,85.0000,-0.929400,0.080000,0.782000,0.137000
6,Hiphop,1,88.0000,0.933300,0.081000,0.839000,0.081000

In [76]:
# Average audio features grouped by genre:
avg_audio_features_per_genre = pd.read_sql_query("""
SELECT Genre, AVG(Danceability) as "AVG Danceability", AVG(Energy) as "AVG Energy",AVG(`Key`) as "AVG Key",AVG(Loudness) as "AVG Loudness",AVG(Mode) as "AVG Mode",AVG(Speechiness) as "AVG Speechiness",AVG(Acousticness) as "AVG Acousticness",AVG(Instrumentalness) as "AVG Instrumentalness",AVG(Liveness) as "AVG Liveness",AVG(Valence) as "AVG Valence",AVG(Tempo) as "AVG Tempo"
    FROM todays_top_hits
    GROUP BY Genre;
""", engine)

avg_audio_features_per_genre.to_csv('../data/sql_queries_data/avg_audio_features_per_genre.csv')
avg_audio_features_per_genre

,Genre,AVG Danceability,AVG Energy,AVG Key,AVG Loudness,AVG Mode,AVG Speechiness,AVG Acousticness,AVG Instrumentalness,AVG Liveness,AVG Valence,AVG Tempo
0,Pop,0.627579,0.563474,4.4737,-6.463211,0.5789,0.063905,0.296553,0.000035,0.134421,0.423684,118.711842
1,Latin,0.754000,0.729167,6.5833,-5.452167,0.7500,0.051975,0.274350,0.000137,0.204725,0.794833,128.641500
2,Edm,0.671333,0.735333,6.6667,-5.312000,0.3333,0.053700,0.038033,0.048447,0.135667,0.399000,133.985000
3,Rap,0.716167,0.553667,6.0000,-6.918833,0.1667,0.263000,0.307000,0.000007,0.175167,0.566833,143.455333
4,Rock,0.532750,0.622625,6.0000,-6.274125,0.7500,0.033100,0.267918,0.021224,0.218300,0.328063,131.053625
5,R&b,0.733000,0.436000,10.0000,-10.489000,1.0000,0.080000,0.258000,0.000573,0.157000,0.097600,96.985000
6,Hiphop,0.650000,0.715000,5.0000,-5.198000,0.0000,0.253000,0.099300,0.000291,0.126000,0.187000,106.672000

# Artist stuff

In [80]:
# Top 5 artists with the most presence:
common_artists = pd.read_sql_query("""
SELECT Artist, COUNT(Artist) AS "Number of songs"
    FROM todays_top_hits
    GROUP BY Artist
    ORDER BY COUNT(Artist) DESC
    LIMIT 5;
""", engine)

common_artists.to_csv('../data/sql_queries_data/common_artists.csv')
common_artists

         Artist  Number of songs
0           SZA                3
1  Taylor Swift                2
2  Harry Styles                2
3     Sam Smith                2
4  Metro Boomin                2

In [81]:
# Top 5 artists by their songs' popularity:
popular_artists = pd.read_sql_query("""
SELECT Artist, AVG(Popularity) AS "Average popularity"
    FROM todays_top_hits
    GROUP BY Artist
    ORDER BY AVG(Popularity) DESC
    LIMIT 5;
""", engine)

popular_artists.to_csv('../data/sql_queries_data/popular_artists.csv')
popular_artists

          Artist  Average popularity
0    Miley Cyrus               100.0
1       Bizarrap                96.0
2   David Guetta                92.0
3  Manuel Turizo                92.0
4           Rema                92.0

In [82]:
# Top 10 of most positive artists:
positive_artists = pd.read_sql_query("""
SELECT Artist, AVG(Positive) as "AVG Positiveness"
    FROM todays_top_hits
    GROUP BY Artist
    ORDER BY AVG(Positive) DESC
    LIMIT 10;
""", engine)

positive_artists.to_csv('../data/sql_queries_data/positive_artists.csv')
positive_artists

           Artist  AVG Positiveness
0     Miley Cyrus             0.517
1    David Guetta             0.336
2     OneRepublic             0.289
3       Sam Smith             0.269
4     Niall Horan             0.257
5     Post Malone             0.254
6  Lizzy McAlpine             0.251
7      Ayra Starr             0.222
8           Lizzo             0.211
9  PinkPantheress             0.195

In [83]:
# Top 10 of most negative artists:
negative_artists = pd.read_sql_query("""
SELECT Artist, AVG(Negative) as "AVG Negativeness"
    FROM todays_top_hits
    GROUP BY Artist
    ORDER BY AVG(Negative) DESC
    LIMIT 10;
""", engine)

negative_artists.to_csv('../data/sql_queries_data/negative_artists.csv')
negative_artists

         Artist  AVG Negativeness
0    The Weeknd            0.2500
1      Måneskin            0.2170
2         Drake            0.2160
3       Beyoncé            0.1870
4    Zach Bryan            0.1860
5  Lil Uzi Vert            0.1850
6    Ayra Starr            0.1770
7  Taylor Swift            0.1665
8         Lizzo            0.1630
9   Oliver Tree            0.1610